.scrollToTop, .pagination_area ul li a:hover{background-color:rgb(14,97,157); color:#fff}
.scrollToTop:hover, .scrollToTop:focus, .pagination_area ul li a{background-color:#fff; color:rgb(14,97,157); border-color:1px solid rgb(14,97,157);}
.top_nav li a:hover{color:rgb(14,97,157);}
.search_form input[type="submit"]:hover{background-color:rgb(14,97,157);}
.navbar-default{background-color:rgb(14,97,157); background: linear-gradient(180deg, rgba(14,97,157,1) 0%, rgba(4,34,64,1) 100%); border-color:rgb(14,97,157);}
.custom_nav li a:hover{border-color:rgb(14,97,157);}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{background-color:#fff; color:rgb(14,97,157); border-color:rgb(14,97,157);}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{background-color:#fff; color:rgb(14,97,157); border-color:rgb(14,97,157);}
.navbar-nav > li > .dropdown-menu{margin-top:1px; background-color:rgb(14,97,157); background: linear-gradient(180deg, rgba(14,97,157,1) 0%, rgba(4,34,64,1) 100%);}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-color:#fff; color:rgb(14,97,157); border-color:rgb(14,97,157); padding-left:20px}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{color:#fff}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background-color:#fcc259}
.slick-prev, .slick-next{background-color:rgb(14,97,157);}
.slick-prev:hover, .slick-next:hover{opacity:0.80}
.bold_line span{background-color:rgb(14,97,157);}
.catg1_nav li .post_titile a:hover{color:rgb(14,97,157);}
/* .content_middle_middle:after{background-color:rgb(14,97,157);} */
/* .content_middle_middle:before{background-color:rgb(14,97,157);} */
.single_featured_slide > h2 a:hover{color:rgb(14,97,157);}
.catg_titile a:hover{color:rgb(14,97,157);}
span.meta_date:hover, span.meta_comment:hover, span.meta_more:hover, span.meta_comment a:hover, span.meta_more a:hover{color:rgb(14,97,157);}
.media-heading a:hover{color:rgb(14,97,157);}

.single_bottom_rightbar > h2{border-bottom:3px solid rgb(14,97,157);}
.nav-tabs{border-bottom:1px solid rgb(14,97,157);}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus{color:rgb(14,97,157);}
.nav-tabs > li.active > a:hover{color:rgb(14,97,157); }
.nav-tabs > li > a:hover{background-color:rgb(14,97,157); color:#fff !important}
.single_bottom_rightbar ul li > a:hover{color:#0e619d;}


.labels_nav li a:hover{color:rgb(14,97,157);}


.breadcrumb{background-color:rgb(14,97,157); border:2px solid rgb(14,97,157);}
.single_page_area > h2{border-left:5px solid rgb(14,97,157);}
.post_commentbox a:hover, .post_commentbox span:hover{color:rgb(14,97,157);}
.single_page_content blockquote{border-color:#eee rgb(14,97,157);; border-left:5px solid rgb(14,97,157);}
.single_page_content ul li:before{background:none repeat scroll 0 0 rgb(14,97,157);}
.post_pagination{border-bottom:2px solid rgb(14,97,157);; border-top:2px solid rgb(14,97,157);}
.prev{border-right:2px solid rgb(14,97,157);}
.angle_left{background-color:rgb(14,97,157);}
.angle_right{background-color:rgb(14,97,157);}
.error_page_content h1:after, .error_page_content h1:before{border:2px solid rgb(14,97,157);}
.error_page_content p{border-bottom:2px solid rgb(14,97,157);; border-top:2px solid rgb(14,97,157);}
.error_page_content p:after{border-top:1px solid rgb(14,97,157);}
.error_page_content p:before{border-top:1px solid rgb(14,97,157);}
.error_page_content p > a:hover{color:rgb(14,97,157);}
.our_office{border-top:2px solid rgb(14,97,157);}
.contact_us{border-top:2px solid rgb(14,97,157);}
.contact_form input[type="submit"]:hover{background-color:rgb(14,97,157);background: linear-gradient(180deg, rgba(14,97,157,1) 0%, rgba(4,34,64,1) 100%); color:#fff; border-color:rgb(14,97,157);}
.our_office:before{border-bottom:1px solid rgb(14,97,157);}
.contact_us:before{border-bottom:1px solid rgb(14,97,157);}
.single_footer_top > h2{color:#f6f6f6}
.similar_post h2 i{color:rgb(14,97,157);}